# .gitignore

# This document will not open, because this document contains other opened document, so it is necessary to follow its document's copyright.
/Regurations/Reguration-SecurityOfWebApplication_AppendixDictionaly.md
